@media (min-width: 50rem) {
    $sidebar-width: 25%;
    $search-result-title-width: 25%;

    .side-bar {
        width: $sidebar-width !important;
    }

    .site-nav, .site-header, .site-footer {
        width: 100% !important;
    }

    .search-input-wrap {
        width: 100% !important;
        max-width: 100% !important;
    }

    .search-results {
        width: 100% !important;
    }

    .search-result-title {
        width: $search-result-title-width !important;
    }

    .search-result-previews {
        width: calc(100% - #{$search-result-title-width}) !important;
    }

    .main {
        margin-left: $sidebar-width !important;
        max-width: 100% !important;
    }
}
