.page-navigation
    display:        flex
    flex-direction: column
    gap:            0.5rem

    & > .prev
        text-align: left

    & > .next
        text-align: right

    @media (min-width: $view-md-cutoff)
        flex-direction:  row
        justify-content: space-between

        & > .prev
            margin-right: auto

        & > .next
            margin-left: auto

    a[href]
        border:          solid $border-md $blue
        border-radius:   $border-radius
        color:           inherit
        display:         block
        font-weight:     600
        overflow:        hidden
        padding:         0.5rem
        text-decoration: none

        &:focus, &:hover
            background-color: $blue
            border-color:     $blue
